<h2><%= @user.full_name %></h2>

<i>joined on </i><%= @user.created_at.to_s %>

<br/>
<% if @user.posts.any? %>
<h3>Posts</h3>
<% @user.posts.each do |p| %>
  <%= render 'posts/post', post: p, link_show: true, display_category: true %>
<% end %>
<% else %>
<h4>No posts from this user.</h4>
<% end %>
