<%= render 'posts/search_form' %>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %><br/>

<% Category.all.each do |category| %>
  <h3><%= category.name.capitalize %></h3>
    <% category.recent_posts.each do |p| %>
      <%= render 'posts/post', post: p, link_show: true, display_category: false %>
    <% end %>
  <br/>
<% end %>
