/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: "Segoe UI", "Verdana", "Sans-Serif";
    background: #e7e7e7;
}

hr {
    display: block;
    height: 3px;
    border-top: 1px solid #969696;
    margin: 5px 0;
}

/* ================== SIDENAV =================*/
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2f2f2f;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: 4px solid #1c1a1a;
    margin-top: 40px;
}

.sidenav-item, .sidenav-item a {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 18px;
    color: #bbbbbb;
}

.sidenav-item:hover {
    background-color: #606060;
}

.sidenav-item a:hover {
    color: #f1f1f1;
}

.sidenav-header {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
    border-top: 3px solid #606060;
    border-bottom: 3px solid #606060;
}

.main {
    margin-right: 315px; /* Same as the width of the sidenav */
    margin-top: 70px;
    margin-left: 15px;
}

/*================= NAVBAR ====================*/
.navbar-inverse {
    background-color: #232322;
    border-radius: 0px;
    font-size: 18px;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
}

.navbar-header .navbar-brand:hover,
.navbar-header .navbar-brand:hover {
    background-color: #444343;
    color: #f4efef;
}

/*=============== CHAT POPUP ===================*/
.chat-popups-container {
    position: fixed;
    bottom: 0;
    right: 300px; /* width of sidenav */
    z-index: 1;
    width: 100%;
}

.chat-popup {
    display: none;
    border: 3px solid #1c1a1a;
    background: #2f342f;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    margin: 0 0 0 5px;
    float: right;
}

.chat-popup-header {
    color: #ffffff;
    margin-bottom: 5px;
}

.chat-popup-header span{
    float: right;
    font-size: 20px;
}

.chat-messages-container {
    max-width: 250px;
    max-height: 300px;
    overflow: auto;
}

.chat-input-text {
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}

/*=========== CHAT MESSAGES ================*/
.chat-message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    font-size: 12px;
}

.chat-message-darker {
    border-color: #7d7d7d;
    background-color: #cbcbcb;
}

.chat-message::after {
    content: "";
    clear: both;
    display: table;
}

.chat-time-right {
     float: right;
     color: #2f2f2f;
 }

.chat-time-left {
    float: left;
    color: #313131;
}

/*============ CARDS ====================*/
.card {
    display: inline-block; /*wrap content */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    background: #f3f3f3;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-post {
    width: 100%;
    margin-bottom: 15px;
}