/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: "Segoe UI", "Verdana", "Sans-Serif";
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #3e3e3e;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: 4px solid #1c1a1a;
}

.sidenav-item, .sidenav-item a {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 18px;
    color: #bbbbbb;
}

.sidenav-item:hover {
    background-color: #606060;
}

.sidenav-item a:hover {
    color: #f1f1f1;
}

.sidenav-header {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
    border-top: 3px solid #606060;
    border-bottom: 3px solid #606060;
}

.main {
    margin-right: 300px; /* Same as the width of the sidenav */
}

